<p-confirm-dialog></p-confirm-dialog>
<p-toast></p-toast>

<div class="container">
  @if (isLoading()) {
    <div class="spinner">
      <p-progressSpinner />
    </div>
  } @else if (!items() || items().length === 0) {
    <p>No documents found</p>
  } @else {
    <div class="grid">
      @for (item of items(); track item.id) {
        <p-card class="card">
          <ng-template #header>
           <img [alt]="item.name" class="image" [src]="item.thumbnailBase64"/>
          </ng-template>
          <ng-template #title>
            <div [pTooltip]="item.name" tooltipPosition="top" appendTo="body" [showDelay]="300">
              {{ item.name }}
            </div>
          </ng-template>
          <ng-template #footer>
            <div class="footer">
              <p-button label="edit" icon="pi pi-file-edit" />
              <p-button
                icon="pi pi-trash"
                severity="danger"
                [text]="true"
                (onClick)="confirmDelete(item, $event)"
              />
            </div>
          </ng-template>
        </p-card>
      }
    </div>
  }
</div>
